<div class="content-container">
  <h3><%= "discussion ##{@discussion.id}: #{@discussion.description}" %></h3>

  <p>Description: <%= @discussion.description %></p>

  <%= link_to "edit", edit_project_discussion_path(@project, @discussion), class: "btn btn-primary"%>
  <%= link_to "delete", project_discussion_path [@project, @discussion], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
  <hr>
</div>