<%= render "navigation" %>
<h2>Current projects:</h2>
<hr>
  <div id="recent-projects">
    <hr class="bold_line">
    <h3>Most recent projects on the go:</h3>

    <% @newest_projects.each do |project| %>

    <%= render :partial => "project_info", :locals => { :project => project } %>

    <% end %>
  </div>
  <div id="popular-projects">
    <hr class="bold_line">
    <h3>Most popular projects:</h3>
    <% @projects.each do |project| %>

      <%= render :partial => "project_info", :locals => { :project => project } %>

    <% end %>
  </div>
