<%= render "navigation" %>
<h2 id="title-bar">CURRENT PROJECTS:</h2>
<hr>
  <div id="recent-projects">
    <hr class="bold_line">
    <h3>NEWEST PROJECT:</h3>

    <% @newest_projects.each do |project| %>

      <%= render :partial => "project_info", :locals => { :project => project } %>

    <% end %>
  </div>
  <div id="popular-projects">
    <hr class="bold_line">
    <h3>MOST POPULAR PROJECTS:</h3>
    
    <% @projects.each do |project| %>

      <%= render :partial => "project_info", :locals => { :project => project } %>

    <% end %>
  </div>
  <hr>
  <%= render "layouts/footer" %>
