<h2 id="title-bar">Current Projects:</h2>
  <div id="recent-projects">
    <hr class="bold-line">
    <h3>Newest Projects:</h3>

    <% @newest_projects.each do |project| %>

      <%= render :partial => "project_info", :locals => { :project => project } %>

    <% end %>
  </div>
  <div id="popular-projects">
    <hr class="bold-line">
    <h3>Most Popular Projects:</h3>
    
    <% @popular_projects.each do |project| %>

      <%= render :partial => "project_info", :locals => { :project => project } %>

    <% end %>
  </div>

  <%= render "layouts/footer" %>