<%= render "navigation" %>
<%= render "layouts/social" %>

<h3>Top Projects:</h3>
<hr class="bold-line">
<% @projects.each do |project| %>
  <%= render :partial => "project_info", :locals => { :project => project } %>
<% end %>






