<!DOCTYPE html>
<html>

  <%= render "/layouts/head" %>

  <body>


    <div class="container">
    <%= render "/layouts/flash" %>
    <%= render "/layouts/nav" %>

    <%= yield %>
    </div>
  </body>
</html>
